<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Comfy.App.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="devExpress">
			<section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<appSettings>
	</appSettings>
	<connectionStrings>
		<!--測試環境 -->
		<!--<add name="DB_Oracle" connectionString="Data Source=MOCMES;Persist Security Info=True;User Id=ESIGN;Password=ESIGN2012;"
      providerName="oracle" />-->
		<!--正式環境 -->
    <add name="SqlServer" connectionString="Data Source=gek-mis01;Initial Catalog=PlanningDB;Persist Security Info=True;User ID=Escmuser;Password=esquel" providerName="System.data.sqlClient"  />
    <!--<add name="ConnectionString" connectionString="Data Source=ESCM_NEW;Persist Security Info=True;User ID=ESCMQCUSER;Password=k8m7I*S#;Unicode=True" providerName="System.Data.OracleClient"  />-->
    <!-- <add name="SqlServer" connectionString="Data Source=gettestnt15;Initial Catalog=PlanningDB;Persist Security Info=True;User ID=test;Password=ittest" providerName="System.data.sqlClient"  />-->
    <!-- <add name="ConnectionString" connectionString="Data Source=ESCM_27134;Persist Security Info=True;User ID=ESCMQCUSER;Password=k8m7I*S#;Unicode=True" providerName="System.Data.OracleClient"/>-->
    <!-- <add name="ConnectionString" connectionString="Data Source=escm_144;Persist Security Info=True;User ID=ESCMUSER;Password=ESCMUSER;Unicode=True" providerName="System.Data.OracleClient"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=ESCM_NEW;Persist Security Info=True;User ID=ESCMQCUSER;Password=k8m7I*S#;Unicode=True" providerName="System.Data.OracleClient"/>-->
    <add name="ConnectionString" connectionString="Data Source=escm-hk-new;Persist Security Info=True;User ID=ESCMQCUSER;Password=k8m7I*S#;Unicode=True" providerName="System.Data.OracleClient"/>
  </connectionStrings>   
	<system.web>
		<!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。


        -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
</assemblies>
		</compilation>
		<!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的安全身份验证模式。 
        -->
		<customErrors mode="Off"/>
		<authentication mode="Forms">
			<forms loginUrl="Login.aspx" defaultUrl="default.aspx" path="/" timeout="10080"/>
		</authentication>
		<!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置要显示的 html 错误页以代替错误堆栈跟踪。


    -->
		<!--<customErrors mode="On" defaultRedirect="GenericError.aspx">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>-->
		<machineKey validationKey="986D425CE094FAE8312E3AD88D971448CF9E0E4FAE8621F4" decryptionKey="2376234EA79147BA" validation="SHA1"/>
		<!--<pages styleSheetTheme="Aqua"/>-->
		<!--<pages styleSheetTheme="Olive"/>-->
		<!--<pages styleSheetTheme="Default"/>-->
    <pages enableEventValidation="false" styleSheetTheme="Aqua" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>
	<applicationSettings>
		<Comfy.App.Web.Properties.Settings>
   <setting name="Comfy_App_Web_WebReference_UserService" serializeAs="String">
    <value>http://10.184.101.12/authentication2/userService.asmx</value>
   </setting>
   <setting name="Comfy_App_Web_WebReference1_MailService" serializeAs="String">
    <value>http://10.184.101.8/mailservice/MailService.asmx</value>
   </setting>
  </Comfy.App.Web.Properties.Settings>
	</applicationSettings>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
		</modules>
	</system.webServer>
	<devExpress>
		<settings rightToLeft="false"/>
		<compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="false"/>
		<themes enableThemesAssembly="true"/>
		<errors callbackErrorRedirectUrl=""/>
	</devExpress>
 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="intfwsTransQCEndpoint0Binding1" />
    <binding name="intfwsTransQCEndpoint0Binding" />
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://eellnx35.eel1.esquel.com:6112/interfaces/insertQC/intfTransQC-service.serviceagent/intfwsTransQCEndpoint0"
    binding="basicHttpBinding" bindingConfiguration="intfwsTransQCEndpoint0Binding1"
    contract="ServiceReference1.portType" name="intfwsTransQCEndpoint01" />
   <endpoint address="http://eellnx35.eel1.esquel.com:6112/interfaces/insertQC/intfTransQC-service.serviceagent/intfwsTransQCEndpoint0"
    binding="basicHttpBinding" bindingConfiguration="intfwsTransQCEndpoint0Binding"
    contract="WebReference3.portType" name="intfwsTransQCEndpoint0" />
  </client>
 </system.serviceModel>
</configuration>
