<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<LogService>
		<ServiceUrl>http://localhost/logservice/service.asmx</ServiceUrl>
		<AppGuid>{830ba8f8-0e01-459a-a715-bcc1a0bcf2c2}</AppGuid>
	</LogService>
	<UserService>
		<Host>http://10.184.101.12/authentication2/</Host>
		<ForgotPwd>http://10.184.101.12/Authentication2/?src=ResetPwd.aspx</ForgotPwd>
		<ServiceUrl>
			<add>http://10.184.101.12/authentication2/userService.asmx</add>
			<add>http://localhost:4075/UserService.asmx</add>
		</ServiceUrl>
		<Timeout>2000</Timeout>
	</UserService>
	<APService>
		<ServiceUrl>
		</ServiceUrl>
	</APService>
</configuration>